.quiz-card {
  text-align: center;
  max-width: 500px;
  margin: 10rem auto;
  padding: 1rem;

  .top-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .difficulty {
      font-weight: bolder;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0.5rem;
      .difficulty-icon {
        width: 25px;
        height: 25px;
      }
      &.easy {
        color: green;
      }
      &.medium {
        color: orange;
      }
      &.hard {
        color: red;
      }
    }
  }

  .multiple {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .boolean {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  button.correct {
    background-color: lightgreen;
  }

  button.incorrect {
    background-color: lightcoral;
  }

  .answer-button {
    width: 100%;
  }

  .correct-answer {
    color: #2eee2e;
    font-weight: bold;
    font-size: larger;
  }

  .step-indicators {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  .step-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
  }

  .step-indicator.active {
    background-color: #007bff;
  }

  .record-track {
    font-weight: bold;
    margin: 0.5rem;
    color: #007bff;
    text-align: end;
  }

  mat-card-subtitle {
    font-weight: bold;
    font-size: large;
  }
}

.results {
  text-align: center;
  max-width: 500px;
  max-height: 250px;
  margin: 10rem auto;
  padding: 1rem;
  .score {
    font-weight: bold;
    font-size: larger;
  }
  .results-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .faced-result {
      width: 50px;
      height: 50px;
      margin-top: 2rem;
    }
  }
}
