@if (quiz && !finishedQuiz) {
<mat-card class="quiz-card">
  <div class="top-card">
    <mat-card-title>
      {{ quiz.results[currentQuestionIndex].category | base64Decode }}
    </mat-card-title>
    <div
      class="difficulty"
      [ngClass]="quiz.results[currentQuestionIndex].difficulty | base64Decode"
    >
      <img
        class="difficulty-icon"
        src="assets/icons/difficulty.svg"
        alt="difficulty-level"
      />
      {{ quiz.results[currentQuestionIndex].difficulty | base64Decode }}
    </div>

  </div>
  <mat-card-subtitle>
    {{ quiz.results[currentQuestionIndex].question | base64Decode }}
  </mat-card-subtitle>

  @switch (quiz.results[currentQuestionIndex].type | base64Decode) { @case
  ('multiple') {
  <mat-card-content class="multiple">
    @for (answer of formatAnswers(); track answer) {
    <button
      mat-raised-button
      class="answer-button"
      color="primary"
      (click)="onValidateAnswer(answer)"
      [disabled]="isAnswerValidating"
      [ngClass]="{
        correct: answerFeedback === 'correct' && answer === selectedAnswer,
        incorrect: answerFeedback === 'incorrect' && answer === selectedAnswer
      }"
    >
      {{ answer | base64Decode }}
    </button>
    } @if (answerFeedback === 'incorrect' && correctAnswer) {
    <p class="correct-answer">
      {{ correctAnswer | base64Decode }}
    </p>
    }
  </mat-card-content>
  } @case ('boolean') {
  <mat-card-content class="boolean">
    @for (answer of formatAnswers(); track answer) {
    <button
      mat-raised-button
      class="answer-button"
      color="primary"
      (click)="onValidateAnswer(answer)"
      [disabled]="isAnswerValidating"
      [ngClass]="{
        correct: answerFeedback === 'correct' && answer === selectedAnswer,
        incorrect: answerFeedback === 'incorrect' && answer === selectedAnswer
      }"
    >
      {{ answer | base64Decode }}
    </button>
    }
  </mat-card-content>
  } }
  <mat-card-footer>
    @if(quiz.results.length <= 10) {
      <div class="step-indicators">
        @for (i of quiz.results; track i; let index = $index) {
        <div
          class="step-indicator"
          [class.active]="index <= currentQuestionIndex"
        ></div>
        }
      </div>
      } @else {
      <p class="record-track">
        {{ currentQuestionIndex + 1 }} / {{ quiz.results.length }}
      </p>
      }
  </mat-card-footer>
</mat-card>
} @if(finishedQuiz) {
  <mat-card class="results">
    <mat-card-title>Score</mat-card-title>
    <mat-card-content class="score">{{score.length}} / {{ quiz?.results?.length }}</mat-card-content>
    <mat-card-footer class="results-footer">
      <img class="faced-result" [src]="getFace()" alt="faced-result">
      <button mat-flat-button color="primary" (click)="onNewQuiz()">New Quiz</button>
    </mat-card-footer>
  </mat-card>
}
