.quiz-card {
  text-align: center;
  .multiple {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .boolean {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  button.correct {
    background-color: lightgreen;
  }

  button.incorrect {
    background-color: lightcoral;
  }
  .correct-answer {
    color: #1b8f1b;
    font-weight: bold;
    font-size: larger;
  }
}
