<div class="home-container">
  <div class="settings-container">
    <mat-card>
      <mat-card-title>Quiz Settings</mat-card-title>
      <mat-card-content>
        <form
        class="settings-form"
        [formGroup]="settingsForm"
        (ngSubmit)="submitQuizSettings()"
        >
        <mat-form-field>
          <mat-label>Number of Questions</mat-label>
          <input
          matInput
          type="number"
          min="1"
          max="50"
          formControlName="amount"
          />
          <mat-error *ngIf="settingsForm.get('amount')?.hasError('min')">
            Questions must be at least 1.
          </mat-error>
          <mat-error *ngIf="settingsForm.get('amount')?.hasError('max')">
            Questions must be at most 50.
          </mat-error>
        </mat-form-field>
        @if(quizCategories$ | async; as categories) {
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option [value]="'Any Category'">Any Category</mat-option>
              @for(category of categories; track category) {
              <mat-option [value]="category.id">{{ category.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
          <mat-form-field>
            <mat-label>Difficulty</mat-label>
            <mat-select formControlName="difficulty">
              @for(difficulty of quizDifficulties; track difficulty) {
              <mat-option [value]="difficulty">{{ difficulty }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              @for(type of quizTypes; track type) {
              <mat-option [value]="type">{{ type }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary" [disabled]="settingsForm.invalid">Start Quiz</button>
          <mat-error *ngIf="reconfigure">
            Quiz unavailable, please reconfigure your settings.
          </mat-error>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
